@import "~antd/dist/antd.css";

.img1 {
  float: left;
  width: 25%;
  margin-top: 5%;
  margin-left: 20%;
  border: 5px solid #5d6f5e;
  padding: 7px;
  background: #fefdcc;
}
.img2 {
  float: left;
  width: 25%;
  margin-top: -2%;
  margin-left: 30%;
  border: 5px solid #5d6f5e;
  padding: 7px;
  background: #fefdcc;
}
.img3 {
  float: left;
  width: 25%;
  margin-top: -2%;
  margin-left: 20%;
  border: 5px solid #5d6f5e;
  padding: 7px;
  background: #fefdcc;
}
.img4 {
  width: 25%;
}
.Home {
  float: left;
  margin-top: 10%;
  margin-left: 3%;
}
.h1 {
  font-size: 30px;
}
.h2 {
  color: darkblue;
  font-size: 25px;
  margin-top: 10px;
}
.login {
  text-decoration: underline;
}
#div {
  padding-top: 100px;
}
.member {
  background-color: darkblue;
  border-color: darkblue;
}
.h3 {
  font-size: 30px;
  padding-top: 50px;
  text-align: center;
}
.span {
  font-size: 35px;
  color: darkblue;
}
.p2 {
  font-size: 15px;
  color: darkblue;
}
.p3 {
  text-align: center;
}
.button {
  background-color: darkblue;
  border-color: darkblue;
  margin: 30px 40px;
}
.Button {
  display: flex;
  justify-content: center;
}
