@import "~antd/dist/antd.css";

.Home {
  background-image: url("../images/Hpg.webp");
  height: 100%;
  background-size: cover;
  font-style: italic;
}
.font {
  font-size: 30px;
  text-shadow: 2px 6px 2px black;
  color: white;
}
#fontp {
  font-style: normal;
  font-size: 30px;
  color: white;
  margin: 10px;
}
.font-t {
  font-style: normal;
  margin-top: 15%;
  font-size: 20px;
  margin-left: 2%;
  color: white;
}
.fontq {
  font-style: normal;
  font-size: 15px;
  color: white;
  margin: 10px;
}
.fontq-q {
  margin-top: 3%;
}
.Home2 {
  height: 500px;
  background-image: url("../images/sea2.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-style: italic;
}
.font2 {
  text-shadow: 2px 6px 2px gray;
  font-size: 45px;
  margin-top: 50px;
}
.H {
  width: 99%;
  height: 430px;
  padding: 20px;
  background-image: url("../images/13.jpeg");
  background-size: cover;
}
.H1 {
  margin-top: 70px;
  font-size: 25px;
  font-family: fantasy;
  color: white;
}
.P1 {
  color: white;
  font-size: 18px;
}
.A {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  float: right;
  width: 400px;
  height: 400px;
}
.card {
  margin-top: -2%;
  margin-left: 35%;
}
.card2 {
  background-image: url("../images/sea2.jpeg");

  border-radius: 20%;
}
.h-card {
  text-align: center;
  text-shadow: 1px 1px 1px gray;
}
