@import "~antd/dist/antd.css";

.SignIn {
  min-height: 100vh;
  padding: 0 50px;
  margin-top: 128px;
}

.logo {
  margin: 0 10px;
  font-size: 30px;
}

.A {
  display: flex;
  justify-content: flex-end;
  width: 400px;
}
.SignIndiv {
  border-radius: 35px;
  width: 50%;
  margin: auto;
  padding: 3%;
  border: 2px solid #d9d6d6;
}
.SignInh {
  text-align: center;
  padding: 3%;
}
.BRCol {
  margin-right: 3%;
}
